nav {
    border:  5px solid darkblue;
    color: darkblue;
    margin: 20px;
}
footer {
    border:  5px solid purple;
    color: purple;
    margin: 20px;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
}
nav > img {
    border:  5px solid black;
    border-radius: 80px / 80px;
}
aside > img {
    border:  5px solid black;
}
a:link {
    color: orange;
    text-decoration: none;
}
a:visited {
    color: brown;
    text-decoration: none;
}
form > label,input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}